<h1>Welcome to our App!</h1>

<h3>Login Please</h3>

<%= form_for @user, url: login_path do |f| %>
  <%= f.label :email, "Enter your email"%>
  <%= f.text_field :email, require: true  %>

  <%= f.label :password, "Enter your Password" %>
  <%= f.password_field :password, require: true  %>

  <%= f.submit "Login" %>
<% end %>

<%= link_to "Don't have an account? Create one!", signup_path %>
