<h1 class="text-center badge-secondary">Sign Up!</h1>

<% if @user.errors.any? %>
  <div id="error_explanation" style="background-color: red; color: white;">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user, url: signup_path(@user) do |f| %>
  What's your name?
    <%= f.text_field :name %>

  How about your email?
    <%= f.text_field :email %>

    Lastly, how old are you?
    <%= f.text_field :age %>

  Create a Password:
    <%= f.password_field :password %>

  <%= f.submit "Signup" %>
<% end %>
<div class="text-center">

<%= link_to "Already have an account? Sign in.", login_path %>

</div>
