<h1>Name:<%= @user.name %></h1>

<h3>Email:<%= @user.email %></h3>

<h3>Age:<%= @user.age %></h3>

<h3>My Events</h3>

<%= render @events.uniq %>



<h3>Artists you will seen</h3>
<%= render @artists %>
