
<div class="text-center">
  <h1 class="text-center badge-secondary">
    <%= @event.name %></h1>


  <h3 class="flexBox text-center " style="background-color: lightgrey;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;">Performances by:</h3>
  <%= render @artists %>

<br><br>

  <%= form_tag add_event_path do %>
  <input type="hidden" name="event_id" value="<%= @event.id %>">
    <%= submit_tag "Add to Your Events" %>
  <% end %>


</div>



<!-- form_for @user, :url => url_for(:controller => 'mycontroller', :action => 'myaction') -->
