
<div class="col-xl" style="background-color:#0896;">
  <h1 class="text-center badge-secondary">
    <%= @event.name %></h1>


  <h3 class="flexBox text-center " style="background-color: lightgrey;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;">Performances by:</h3>
  <%= render @artists %>



<a href="<%= add_event_path %>">
<button type="button" class="btn btn-outline-secondary">
  <input type="hidden" name="event_id" value="<%= @event.id %>">
  Add to Your Events
  </button></a>


</div>

<a href="<%= login_path %>">
  <button type="button" class="btn btn-outline-secondary">Login</button></a>

<!-- form_for @user, :url => url_for(:controller => 'mycontroller', :action => 'myaction') -->
