<!DOCTYPE html>
<html>
  <head>
    <title>LiveMusicFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style media="screen">
    body, html {
    height: 100%;
    background-color:#0896;
    height: 100%;
    }

    .bg {
    /* The image used */
    background-image: url('../../assets/images/coachella-1.jpg');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    </style>
  </head>

  <body>
    <div class="bg" style="background-color:#0896; height: 100%;">
    <%= render "layouts/navbar" %>
    <%= yield %>
  </div>
  </body>
</html>
